#root {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.nav-wrapper {
	background-color: rgb(255, 255, 255);

	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

.hero-width {
	align-self: center;
	width: 100%;
	max-width: 1000px;
}

nav {
	padding: 1rem;

	min-height: 100px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	font-size: 2rem;
}

.content-wrapper {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.page-title {
	font-size: 1.5rem;
}

p {
	margin: 0;
	padding: 0;
}
